<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.ejs');%>

</head>
<body class="container">
    <%- include ('partials/header.ejs');%>


    <div class="col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Write a new entry</h2>

    </div>

</body>
</html>